{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "debug": false,
        "useBuiltIns": "usage",
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods",
    "@babel/plugin-transform-runtime"
  ]
}
